@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@font-face {
  font-family: "Pretendard-Bold";
  src:
    local("Pretendard Bold"),
    url("/public/fonts/Pretendard-Bold.woff") format("woff"),
    url("/public/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src:
    local("Pretendard Bold"),
    url("/public/fonts/Pretendard-SemiBold.woff") format("woff"),
    url("/public/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Medium";
  src:
    local("Pretendard Medium"),
    url("/public/fonts/Pretendard-Medium.woff") format("woff"),
    url("/public/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  src:
    local("Pretendard Regular"),
    url("/public/fonts/Pretendard-Regular.woff") format("woff"),
    url("/public/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Light";
  src:
    local("Pretendard Light"),
    url("/public/fonts/Pretendard-Light.woff") format("woff"),
    url("/public/fonts/Pretendard-Light.woff2") format("woff2");
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .flexcol {
    @apply flex flex-col;
  }
  .flex-box {
    @apply flex items-center justify-center;
  }
  .text-title {
    @apply text-black text-2xl font-bold leading-[125%];
  }
  .text-label {
    @apply text-black text-xs font-medium leading-[125%];
  }
  .text-input {
    @apply text-gray text-xs font-medium leading-[125%];
  }
  .text-button {
    @apply text-white text-center text-sm font-bold leading-[125%];
  }
  .auth-button {
    @apply py-3 px-4 rounded bg-orange cursor-pointer;
  }
  .social-button {
    @apply py-3 px-4 rounded bg-[#252525] cursor-pointer;
  }
  .auth-input {
    @apply h-[41px] py-3 px-4 rounded border bg-white;
  }
  .count-box {
    @apply w-6 h-6 border font-medium border-[#DDDDDD] text-gray;
  }
  .normal-button {
    @apply flex justify-center items-center w-[144px] h-[44px] py-3 px-4 rounded font-SemiBold;
  }
  .scroll-none::-webkit-scrollbar {
    display: none;
  }
  .scroll-none {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
  .drag-none {
    -webkit-user-drag: none;
  }
  .checkbox[type="checkbox"] {
    @apply relative w-5 h-5 bg-white border border-black rounded-sm ease-in-out duration-200 appearance-none
    checked:bg-orange checked:border checked:border-transparent
    checked:before:top-1/2 checked:before:left-1/2 checked:before:absolute checked:before:w-[5px] checked:before:h-px checked:before:bg-white checked:before:border-none checked:before:-translate-x-full checked:before:-translate-y-1/2 checked:before:rotate-45
    checked:after:top-1/2 checked:after:left-1/2 checked:after:absolute checked:after:w-[9px] checked:after:h-px checked:after:bg-white checked:after:border-none checked:after:-translate-x-1/4 checked:after:-translate-y-[125%] checked:after:-rotate-45;
  }
  .info-box {
    @apply text-gray inline-block w-[65px];
  }
}
